<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width" name="viewport"/>
    <title>Bookstore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "bootstrap" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
  </body>
</html>